{% extends "base.html" %}

{% block links %}
<a href="/login">Login</a>
{% endblock %} 

{% block body %}
<h1>Welcome to job hunting website!</h1>
<div>
<p> Choose an Industry</p>

<label class="checkbox-inline" >
    
    <form method="post" action="/">
        <input type="checkbox" name="hobby" value="Accounting_Finance" >Accounting_Finance
        <input type="checkbox" name="hobby" value="Engineering" >Engineering
        <input type="checkbox" name="hobby" value="Healthcare_Nursing" >Healthcare_Nursing
        <input type="checkbox" name="hobby" value="Sales" >Sales
        <input type="submit" value="refresh">
    </form>





</label>



<br></br>
<div>
    {% for job in jobs %}
    <form >
        <p>{{job.title}}</p>
        <dl>
        <a href="/preview">click here to see more detial description </a>
        </dl>

     </form> 

    {% endfor %}

{% endblock %}


    




